* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

#main{
  height: 100vh;
}

#nav {
  height: 60px;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 35px;
}

#nav a{
  text-decoration: none;
  color: #111;
  font-size: 12px;
}

#nav i{
  font-size: 20px;
  color: #111;
}

.center{
  text-align: center;
  padding: 50px 0 0 0;
  width: 100%;
  height: 80%;
  margin-bottom: 10px;
}

#center-1{
  background: url('./resources/hero_valentines_day_announce__ezg8dset3vki_medium.png');
  background-size: 65% auto;
  background-position: center;
}

#center-2{
  background: url('./resources/hero_iphone_family__fuz5j2v5xx6y_medium.jpg');
  background-size: 75% auto;
  background-position: center;
}

#center-3{
  background: url('./resources/hero_ipad_air_avail__c34ycq52exg2_medium.jpg');
  background-size: 80% auto;
  background-position: center;
}

.center>h2{
  font-size: 56px;
  font-weight: 600;
}

.center>p{
  font-size: 29px;
  margin-bottom: 20px;
}

#center-3 img{
  padding: 13px;
}

#btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#btn button{
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 25px;
}

#btn .btn-1{
  background-color: rgb(0, 113, 227);
  color: white; 
  border: none;
}

#btn .btn-2{
  background-color: white;
  color: rgb(0, 113, 227);
  border:solid rgb(0, 113, 227) 1px;
}

#btn .btn-2:hover{
  cursor: pointer;
  background-color: rgb(0, 113, 227);
  color: white; 
  border: none
}